version: 2
jobs:
  build:
    docker:
      - image: circleci/node
    steps:
      - checkout

      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - run:
          name: Lint
          command: yarn lint

      - run:
          name: Build
          command: yarn build

      - run:
          name: Test
          command: yarn jest

  deploy:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile

      - run:
          name: Setting up NPM
          command: 'echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc'

      - run:
          name: Deploy
          command: yarn release

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
